@main: #1d233a;
@additional: #464e6a;
@icon: #f9fcff;
@icon2: #4d4d4d;
@text: #4b4b4b;
@grey: #EDEDED;
@h1: #0e0b0b;
@link: #5262a1;
@circle: #5f688b;
@btn: #2d344d;
@menu_act: #96b2ed;
@hov_link: #dae0f3;
@wite: #ffffff;
@button-hover: #6E779A;
@news-date:#464E6A;
@background-news: rgba(75, 75, 75, 0.1);
@line: #464e6a6b;
@reset: #4D2D2D;
@reset-hover: #C79E9E;
@fkp: #f7fff5;
@fitu: #fffbf5;
@fre: #fdfff5;
@fksis: #f5fff9;
@fik: #f5ffff;
@ief: #f5f9ff;
@vf: #f5fffa;
@iit: #f9f5ff;
