@main: #1d233a;
@additional: #464e6a;
@icon: #f9fcff;
@icon2: #4d4d4d;
@text: #4b4b4b;
@grey: #ededed;
@h1: #0e0b0b;
@link: #5262a1;
@circle: #5f688b;
@btn: #2d344d;
@menu_act: #96b2ed;
@hov_link: #dae0f3;
@wite: #ffffff;
@button-hover: #6e779a;
@news-date: #464e6a;
@background-news: rgba(75, 75, 75, 0.1);
@line: #464e6a6b;
@reset: #4d2d2d;
@reset-hover: #c79e9e;
@fkp: #f7fff5;
@fkp-act: #c2ffb3;
@fitu: #fffbf5;
@fitu-act: #ffe0b3;
@fre: #fdfff5;
@fre-act: #f0ffb3;
@fksis: #f5fffd;
@fksis-act: #b3fff0;
@fik: #f5f8ff;
@fik-act: #b3c9ff;
@ief: #fef5ff;
@ief-act: #f7b3ff;
@vf: #f5fffa;
@vf-act: #b3ffd9;
@iit: #f9f5ff;
@iit-act: #d1b3ff;
@err: #eb5757;
@A1: #c43d16;
@B2: #dc6d02;
@B1: #edc596;
@A2: #fd9a7e;
@C1: #fcb500;
