.html {
  font-size: 10px;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif, "Arial";
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif, "Arial";
}

a {
  color: @circle;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .body {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
