.menu__hidden-box {
  position: absolute;
  top: 79px;
  display: none;
  z-index: 100;

  & a {
    color: @icon2;
  }
}

.menu__block:last-of-type .menu__hidden-box {
  right: 0;
}

@media screen and (max-width: 1239px) {
  .menu__hidden-box {
    top: 45px;
  }
}

@media screen and (max-width: 1016px) {
  .menu__hidden-box {
    top: 58px;
  }
}
