.footer__banner {
  max-height: 50px;
}

@media screen and (max-width: 1239px) {
  .footer__banner {
    max-height: 40px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}
