.button {
  background: @btn;
  border: none;
  color: @icon;
  font-size: @f15;
  line-height: @fl15;
  padding: 7px;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: 0;
    outline-offset: 0;
    border: none;
  }

  &:hover {
    cursor: pointer;
    background: @button-hover;
  }

  &--corner {
    background: @btn url("./../img/button-corner.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding-left: 30px;
  }

  &--corner:hover {
    background: @button-hover url("./../img/button-corner.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  &--forms {
    background: @btn url("./../img/button-corner.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding-left: 14px;
    font-size: @f14;
    width: 25%;
    min-width: 120px;
    height: 40px;
  }

  &--forms:hover {
    background: @button-hover url("./../img/button-corner.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }

  &--reset {
    background: @reset url("./../img/button-reset-corner.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    margin-left: 2.5%;
  }

  &--reset:hover {
    background: @reset-hover url("./../img/button-reset-corner.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }
}

@media screen and (max-width: 1239px) {
  .button {
    height: 40px;
    font-size: @f12;
    line-height: @fl12;

    &--corner {
      padding-left: 25px;
    }
  }
}
