.menu__list-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
  padding-left: 11px;
  position: relative;
  font-size: @f14;
  line-height: @fl14;

  &::before {
    position: absolute;
    top: 6px;
    left: 0;
    content: "";
    width: 6px;
    height: 6px;
    background: @circle;
    margin-right: 4px;
    vertical-align: baseline;
  }

  &:hover {
    color: @menu_act;
  }
}
