@column-fixed-width: 240px;

.table {
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.07);

  & > tbody > tr > td,
  & > tbody > tr > th,
  & > tfoot > tr > td,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > thead > tr > th {
    padding: 7px;
    vertical-align: middle;
    border-top: 1px solid @line;
  }

  & > thead > tr > td,
  & > thead > tr > th {
    padding: 7px 4px;
    vertical-align: middle;
    border-top: 1px solid @line;
  }

  &--bordered {
    border: 1px solid @line;
  }

  &--bordered > tbody > tr > td,
  &--bordered > tbody > tr > th,
  &--bordered > tfoot > tr > td,
  &--bordered > tfoot > tr > th,
  &--bordered > thead > tr > td,
  &--bordered > thead > tr > th {
    text-align: center;
    outline: 1px solid @line;
  }

  &--bordered > thead > tr > td,
  &--bordered > thead > tr > th {
    background-color: @wite;
  }

  &__column-day--budget,
  &__column-day--paid,
  &__column-zaoch--budget,
  &__column-zaoch--paid,
  &__column-shortday--budget,
  &__column-shortday--paid,
  &__column-shortzaoch--budget,
  &__column-shortzaoch--paid,
  &__column-distant--paid {
    font-weight: bold;
  }

  &__column-distant {
    word-break: break-word;
    width: 74px;
    min-width: 74px;
  }

  &__column-day--empty {
    display: none;
    border: none !important;
  }

  &__sort-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sort-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2px;
  }

  &__sort-icon {
    display: block;
    cursor: pointer;
    padding: 0 3px;
    line-height: 1;
  }

  &__sort-icon:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  }

  &__sort-icon svg {
    width: 10px;
    height: 10px;
    fill: @line;
  }

  &__sort-icon--active svg {
    fill: @additional;
  }

  &__column-blocks {
    display: none;
    flex-direction: column;
  }

  &__block-cell {
    padding: 7px;
    border: 1px solid #464e6a6b;
    border-top-color: #464e6a6b;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    text-align: center;
    width: 180px;
    font-size: @f14;
    line-height: @fl14;
  }

  &__special-cell {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & thead {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  /*подсветка разных факультетов*/
  &__row-fkp {
    background-color: @fkp;
    &--active {
      background-color: @fkp-act;
    }
  }

  &__row-fitu {
    background-color: @fitu;
    &--active {
      background-color: @fitu-act;
    }
  }

  &__row-fre {
    background-color: @fre;
    &--active {
      background-color: @fre-act;
    }
  }

  &__row-fksis {
    background-color: @fksis;
    &--active {
      background-color: @fksis-act;
    }
  }

  &__row-fik {
    background-color: @fik;
    &--active {
      background-color: @fik-act;
    }
  }

  &__row-ief {
    background-color: @ief;
    &--active {
      background-color: @ief-act;
    }
  }

  &__row-vf {
    background-color: @vf;
    &--active {
      background-color: @vf-act;
    }
  }

  &__row-iit {
    background-color: @iit;
    &--active {
      background-color: @iit-act;
    }
  }
}

.table > tbody > tr > td.table__column-spec {
  text-align: left;
}

.table__column-blocks {
  display: none;
  flex-direction: column;
}

.table__block-cell {
  padding: 7px;
  border: 1px solid #464e6a6b;
  border-top-color: #464e6a6b;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  text-align: center;
  width: 180px;
  font-size: @f14;
  line-height: @fl14;
}

.table__special-cell {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .table {
    width: 100%;

    &__column-spec {
      position: sticky;
      left: 0;
      z-index: 10;
      background-color: white;
      /*display: none;*/
    }

    & > thead &__column-spec {
      height: 122px;
    }

    &__column-day--empty {
      display: table-cell;
    }

    & > tbody > tr > td,
    & > tbody > tr > th,
    & > tfoot > tr > td,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > thead > tr > th {
      padding: 7px;
    }
  }

  .table__column-blocks {
   /* display: flex;*/
    display: none;
  }

  .scroll {
    overflow: auto;
  }

  .table-wrapper {
    display: flex;
  }

  .scroll table tr {
    height: 61px;
  }
}

@media screen and (max-width: 768px) {
  .table {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
