.table {


  &__column-day--budget {
    display:none;
  }

  &__column-day {
    display:none;
  }
}

.table--bordered > tbody > tr > td,
.table--bordered > tbody > tr > th,
.table--bordered > tfoot > tr > td,
.table--bordered > tfoot > tr > th,
.table--bordered > thead > tr > td,
.table--bordered > thead > tr > th {
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
