.nomain-content {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1239px) {
  .nomain-content {
    margin: 22px 32px;
  }
}

@media screen and (max-width: 768px) {
  .nomain-content {
    margin: 15px 12px;
  }
}
