.main-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: @f14;
  line-height: @fl14;

  &__body {
    margin: 20px 32px;
  }
}

@media screen and (max-width: 1239px) {
  .main-content {
    flex-grow: 1;
    width: 100%;

    &__body {
      margin: 10px 12px;
    }
  }
}

@import url(./__list/main-content__list.less);
@import url(./--no-wrapp/main-content--no-wrapp.less);
