.popup__close {
  position: absolute;
  top: 24px;
  right: 32px;

  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .popup__close {
    top: 18px;
    right: 14px;
  }
}
