@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("../fonts/Ibmplexsansmedium.woff2") format("woff2"), url("../fonts/Ibmplexsansmedium.woff") format("woff"), url("../fonts/Ibmplexsansmedium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"), url("../fonts/Ibmplexsansthinitalic.woff2") format("woff2"), url("../fonts/Ibmplexsansthinitalic.woff") format("woff"), url("../fonts/Ibmplexsansthinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"), url("../fonts/Ibmplexsanstext.woff2") format("woff2"), url("../fonts/Ibmplexsanstext.woff") format("woff"), url("../fonts/Ibmplexsanstext.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"), url("../fonts/Ibmplexsansbold.woff2") format("woff2"), url("../fonts/Ibmplexsansbold.woff") format("woff"), url("../fonts/Ibmplexsansbold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Medium Italic"), local("IBMPlexSans-MediumItalic"), url("../fonts/Ibmplexsansmediumitalic.woff2") format("woff2"), url("../fonts/Ibmplexsansmediumitalic.woff") format("woff"), url("../fonts/Ibmplexsansmediumitalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans ExtraLight Italic"), local("IBMPlexSans-ExtraLightItalic"), url("../fonts/Ibmplexsansextralightitalic.woff2") format("woff2"), url("../fonts/Ibmplexsansextralightitalic.woff") format("woff"), url("../fonts/Ibmplexsansextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("../fonts/Ibmplexsanssemibold.woff2") format("woff2"), url("../fonts/Ibmplexsanssemibold.woff") format("woff"), url("../fonts/Ibmplexsanssemibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/Ibmplexsans.woff2") format("woff2"), url("../fonts/Ibmplexsans.woff") format("woff"), url("../fonts/Ibmplexsans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtraLight"), url("../fonts/Ibmplexsansextralight.woff2") format("woff2"), url("../fonts/Ibmplexsansextralight.woff") format("woff"), url("../fonts/Ibmplexsansextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url("../fonts/Ibmplexsanslightitalic.woff2") format("woff2"), url("../fonts/Ibmplexsanslightitalic.woff") format("woff"), url("../fonts/Ibmplexsanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url("../fonts/Ibmplexsansitalic.woff2") format("woff2"), url("../fonts/Ibmplexsansitalic.woff") format("woff"), url("../fonts/Ibmplexsansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("../fonts/Ibmplexsansbolditalic.woff2") format("woff2"), url("../fonts/Ibmplexsansbolditalic.woff") format("woff"), url("../fonts/Ibmplexsansbolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SemiBoldItalic"), url("../fonts/Ibmplexsanssemibolditalic.woff2") format("woff2"), url("../fonts/Ibmplexsanssemibolditalic.woff") format("woff"), url("../fonts/Ibmplexsanssemibolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Thin"), local("IBMPlexSans-Thin"), url("../fonts/Ibmplexsansthin.woff2") format("woff2"), url("../fonts/Ibmplexsansthin.woff") format("woff"), url("../fonts/Ibmplexsansthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"), url("../fonts/Ibmplexsanstextitalic.woff2") format("woff2"), url("../fonts/Ibmplexsanstextitalic.woff") format("woff"), url("../fonts/Ibmplexsanstextitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url("../fonts/Ibmplexsanslight.woff2") format("woff2"), url("../fonts/Ibmplexsanslight.woff") format("woff"), url("../fonts/Ibmplexsanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html {
  font-size: 10px;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif, "Arial";
}
.body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  line-height: 12px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif, "Arial";
  color: #0e0b0b;
}
a {
  color: #5262a1;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/*страница Поиска*/
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-result .gs-title,
.gcsc-find-more-on-google,
.gcsc-find-more-on-google-magnifier,
.gcsc-find-more-on-google-magnifie {
  color: #5f688b !important;
  text-decoration: none;
  fill: #2d344d !important;
}
@media screen and (max-width: 768px) {
  .body {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
/*
@f10: 1em;
@fl10: 1.3em;
@f12: 1.2em;
@fl12: 1.3em;
@f14: 1.4em;
@fl14: 1.5em;
@f15: 1.5em;
@fl15: 1.6em;
@f16: 1.6em;
@fl16: 2.1em;
*/
.show__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.show__opacity {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.hidden__opacity {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: #0e0b0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 24px;
}
h1::before {
  content: "";
  width: 10px;
  height: 17px;
  background: url("../img/h1.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 6px;
}
@media screen and (max-width: 1239px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
    line-height: 2.1rem;
  }
  h1::before {
    width: 6px;
    height: 15px;
  }
}
h2 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-bottom: 16px;
}
@media screen and (max-width: 1239px) {
  h2 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: 10px;
  }
}
h3 {
  font-size: 2rem;
  line-height: 2.6rem;
}
@media screen and (max-width: 1239px) {
  h3 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}
h4 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.text {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
.caption {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
@media screen and (max-width: 767px) {
  .caption {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
.header__wrapper--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__wrapper--menu {
    display: none;
  }
}
.header__wrapper--mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__wrapper--mobile {
    display: block;
  }
}
.header__wrapper {
  padding: 24px 0 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 12px 0 22px 14px;
  }
}
.header__search-form {
  width: 53%;
}
@media screen and (max-width: 1239px) {
  .header__search-form {
    width: 48%;
  }
}
@media screen and (max-width: 767px) {
  .header__search-form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-top: 24px;
    margin-right: 14px;
  }
}
.header__links {
  width: 17%;
  padding-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1239px) {
  .header__links {
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 159px;
  }
}
.header__links-circle {
  border-radius: 100%;
  background: #5f688b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 12px 7px 12px;
}
@media screen and (max-width: 1239px) {
  .header__links-circle {
    padding: 5px 9px 5px 9px;
  }
}
.header__links-arrow {
  width: 10px;
  height: 20px;
}
@media screen and (max-width: 1239px) {
  .header__links-arrow {
    width: 8px;
    height: 16px;
  }
}
@media screen and (max-width: 1239px) {
  .header__links-img {
    height: 40px;
    width: 22px;
  }
}
.header {
  background: #1d233a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logo {
  width: 183px;
  height: 70px;
}
@media screen and (max-width: 1239px) {
  .logo {
    width: 157px;
    height: 60px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    width: 105px;
    height: 40px;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}
.search-form__input {
  width: 100%;
  padding: 15px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f9fcff;
  opacity: 0.8;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-form__input:focus {
  outline: 0;
  border: none;
  opacity: 1;
}
@media screen and (max-width: 1239px) {
  .search-form__input {
    height: 40px;
  }
}
.search-form__button {
  width: 58px;
}
@media screen and (max-width: 1239px) {
  .search-form__button {
    width: 40px;
  }
}
.search-form__img {
  width: 20px;
  height: 20px;
  fill: #f9fcff;
}
@media screen and (max-width: 1239px) {
  .search-form__img {
    width: 15px;
    height: 16px;
  }
}
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button {
  background: #2d344d;
  border: none;
  color: #f9fcff;
  font-size: 1.5rem;
  line-height: 1.9rem;
  padding: 7px;
  text-transform: uppercase;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button:focus {
  outline: 0;
  outline-offset: 0;
  border: none;
}
.button:hover {
  cursor: pointer;
  background: #6E779A;
}
.button--corner {
  background: #2d344d url("../img/button-corner.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding-left: 30px;
}
.button--corner:hover {
  background: #6E779A url("../img/button-corner.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
.button--forms {
  background: #2d344d url("../img/button-corner.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding-left: 14px;
  font-size: 1.4rem;
  width: 29%;
  min-width: 120px;
  height: 40px;
}
.button--forms:hover {
  background: #6E779A url("../img/button-corner.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.button--reset {
  background: #4D2D2D url("../img/button-reset-corner.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  margin-left: 2.5%;
}
.button--reset:hover {
  background: #C79E9E url("../img/button-reset-corner.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
@media screen and (max-width: 1239px) {
  .button {
    height: 40px;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .button--corner {
    padding-left: 25px;
  }
}
.menu__block {
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: #f9fcff;
  padding: 30px 0;
  text-align: center;
  position: relative;
}
.menu__block:first-child {
  padding-left: 32px;
}
.menu__block:last-child {
  padding-right: 32px;
}
.menu__block:hover {
  color: #96b2ed;
  cursor: pointer;
}
.menu__block:hover .menu__hidden-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__block > span {
  color: #ffffff;
}
@media screen and (max-width: 1239px) {
  .menu__block {
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: left;
    padding: 16px 30px;
  }
  .menu__block:first-child {
    padding-left: 32px;
  }
  .menu__block:last-child {
    padding-right: 32px;
  }
}
.menu__wrapper {
  padding: 24px;
  color: #4d4d4d;
  border-radius: 0 0 2px 2px;
  background: #f9fcff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1239px) {
  .menu__wrapper {
    padding: 16px;
  }
}
.menu__list {
  text-align: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  margin-bottom: 10px;
  max-width: 290px;
}
.menu__list:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .menu__list {
    width: 100%;
    min-width: 290px;
  }
}
.menu__list--mibile {
  max-width: 100%;
  margin-bottom: 0;
  text-transform: uppercase;
}
.menu__list-title {
  margin-bottom: 0;
  padding-left: 11px;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}
.menu__list-title::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  background: #5f688b;
  margin-right: 4px;
  vertical-align: baseline;
}
.menu__list-title:hover {
  color: #96b2ed;
}
@media screen and (max-width: 1239px) {
  .menu__list-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .menu__list-title::before {
    top: 7px;
    left: 2px;
    width: 5px;
    height: 5px;
  }
}
@media screen and (max-width: 768px) {
  .menu__list-title {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 8px;
  }
  .menu__list-title::before {
    position: absolute;
    top: 8px;
    width: 6px;
    height: 6px;
  }
}
.menu__item {
  margin-left: 20px;
  text-transform: none;
  margin-bottom: 2px;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.menu__item:hover {
  color: #96b2ed;
}
@media screen and (max-width: 1240px) {
  .menu__item {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .menu__item {
    margin-bottom: 5px;
    width: 100%;
    min-width: 290px;
  }
  .menu__item a {
    display: block;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}
.menu__hidden-box {
  position: absolute;
  top: 79px;
  display: none;
  z-index: 100;
}
.menu__hidden-box a {
  color: #4d4d4d;
  text-decoration: none;
}
.menu__hidden-box a:hover {
  color: #96b2ed;
  text-decoration: underline;
}
.menu__block:last-of-type .menu__hidden-box,
.menu__block:nth-last-child(2) .menu__hidden-box {
  right: 0;
}
@media screen and (max-width: 1239px) {
  .menu__hidden-box {
    top: 45px;
  }
}
@media screen and (max-width: 1016px) {
  .menu__hidden-box {
    top: 58px;
  }
}
.menu__btn {
  width: 100%;
  height: 36px;
  text-align: left;
  padding: 13px 14px;
  color: #f9fcff;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #464e6a;
}
@media screen and (max-width: 676px) {
  .menu__btn {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.menu__img {
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 12px;
  position: absolute;
  right: -15px;
  top: 2px;
}
.menu__img--active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.menu__mobile-block {
  background: #f9fcff;
  color: #4d4d4d;
  padding: 10px 14px 4px 14px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.menu__mobile-block:last-child {
  border-bottom: 2px solid #464e6a9e;
}
.menu__mobile-block a {
  color: #4d4d4d;
  text-decoration: none;
}
.menu__btn-text {
  position: relative;
  color: #ffffff;
}
.menu {
  background: #464e6a;
  color: #f9fcff;
}
.footer__wrapper--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 24px;
  color: #f9fcff;
}
@media screen and (max-width: 767px) {
  .footer__wrapper--info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 16px 14px;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 32px;
}
@media screen and (max-width: 1239px) {
  .footer__wrapper {
    overflow: hidden;
    padding: 30px 32px;
  }
}
.footer__all-size {
  background: #1d233a;
}
.footer__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .footer__content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
  }
}
.footer__information {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
@media screen and (max-width: 1239px) {
  .footer__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .footer__information {
    width: auto;
  }
  .footer__information:last-child {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .footer__information:last-child > .footer__description {
    margin-bottom: 0;
  }
}
.footer__description {
  padding-right: 24px;
  color: #ffffff;
}
.footer__description p {
  color: #ffffff;
}
@media screen and (max-width: 1239px) {
  .footer__description {
    margin-bottom: 12px;
  }
  .footer__description:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__description:last-child {
    margin-bottom: 12px;
  }
}
.footer__link {
  color: #f9fcff;
  text-decoration: underline;
}
.footer__link:hover {
  color: #96b2ed;
}
.footer__logo {
  width: 157px;
  height: 60px;
  opacity: 0.8;
}
@media screen and (min-width: 768px) and (max-width: 1239px) {
  .footer__logo {
    width: 146px;
    height: 56px;
    margin-right: 74px;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 105px;
    height: 40px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1239px) {
  .footer__acc {
    height: 76px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .footer__acc {
    height: 120px;
  }
}
.footer__banners {
  padding: 30px 0;
  max-width: 1000px;
}
.footer__banner {
  max-height: 50px;
}
@media screen and (max-width: 1239px) {
  .footer__banner {
    max-height: 34px;
    margin-right: 24px;
  }
  .footer__banner:last-child {
    margin-right: 0;
  }
}
.footer__acc-opacity {
  opacity: 0.8;
}
.footer__acc-opacity:hover {
  opacity: 1;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.acc__link {
  padding-bottom: 8px;
}
.acc__link:last-child {
  padding-bottom: 0;
}
.acc__link:hover img {
  opacity: 0.4;
}
.acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-content__body {
  margin: 20px 32px;
}
@media screen and (max-width: 1239px) {
  .main-content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  .main-content__body {
    margin: 10px 12px;
  }
}
.gallery {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 24px;
}
.gallery img {
  width: 100%;
}
@media screen and (max-width: 1239px) {
  .gallery {
    margin-bottom: 16px;
  }
}
.calendar {
  margin: 0 60px 40px 32px;
}
@media screen and (max-width: 1239px) {
  .calendar {
    margin: 0 30px 16px 32px;
  }
}
@media screen and (max-width: 768px) {
  .calendar {
    margin: 0 14px 32px;
  }
}
.news {
  width: 67%;
}
.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.news__archive-links {
  margin-left: auto;
  color: #4b4b4b;
  font-size: 1.6rem;
  text-decoration: none;
}
.news__archive-links::after {
  content: "\2192";
  font-weight: bold;
  font-size: calc(1.6em + 0.2rem);
  font-family: "Arial";
}
.news__archive-links:hover {
  color: #5262a1;
}
.news__archive-links:hover::after {
  text-decoration: none;
}
.news__item {
  position: relative;
  margin-bottom: 24px;
}
.news__date {
  position: absolute;
  background-color: #464E6A;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 4px 7px 6px;
}
.news__number,
.news__month {
  display: block;
  text-align: center;
  color: #ffffff;
}
.news__number {
  font-size: calc(1.6rem + 0.2rem);
  font-weight: bold;
  line-height: 2.1rem;
}
.news__month {
  line-height: 1rem;
}
.news__link-img {
  margin-bottom: 8px;
}
.news__img {
  width: 256px;
  height: 135px;
}
.news__description {
  display: block;
  text-transform: uppercase;
  color: #0e0b0b;
  font-size: 1.4rem;
  line-height: 1.8rem;
  max-height: 70px;
  overflow-y: hidden;
  width: 256px;
  text-decoration: none;
}
.news__description:hover {
  color: #5262a1;
  text-decoration: underline;
}
@media screen and (max-width: 1148px) {
  .news {
    width: 62%;
  }
  .news__date {
    font-size: 1.4rem;
  }
  .news__number {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .news__month {
    line-height: 1rem;
  }
  .news__img {
    width: 188px;
    height: 99px;
  }
  .news__description {
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 92px;
    width: 188px;
  }
}
@media screen and (max-width: 914px) {
  .news {
    width: 54%;
  }
  .news__item:last-child {
    display: none;
  }
}
@media screen and (max-width: 698px) {
  .news {
    width: 45%;
  }
  .news__item {
    width: 100%;
  }
  .news__archive-links {
    font-size: 1.4rem;
  }
  .news__archive-links::after {
    padding-left: 5px;
  }
  .news__date {
    font-size: 1.4rem;
  }
  .news__number {
    font-size: calc(1.6rem + 0.2rem);
    line-height: 2.1rem;
  }
  .news__month {
    line-height: 1rem;
  }
  .news__link-img {
    margin-bottom: 8px;
  }
  .news__img {
    width: 256px;
    height: 135px;
  }
  .news__description {
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 70px;
    overflow-y: hidden;
    width: 256px;
  }
}
@media screen and (max-width: 568px) {
  .news {
    width: 100%;
    margin: 0 14px 32px;
  }
  .news__item:last-child {
    display: block;
  }
  .news__img {
    width: 286px;
    height: 150px;
  }
  .news__description {
    width: 286px;
  }
}
.news-list {
  width: 28%;
  margin-right: 32px;
}
.news-list__ul {
  background-color: rgba(75, 75, 75, 0.1);
  padding: 16px 20px;
  list-style: none;
}
.news-list__item {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #464e6a6b;
}
.news-list__item:last-child,
.news-list__item:first-child {
  border-bottom: none;
}
.news-list__item:first-child {
  padding: 0;
}
.news-list__item:last-child {
  padding-bottom: 0;
}
.news-list__date {
  font-size: 1.2rem;
  color: #4b4b4b;
  font-weight: 500;
}
.news-list__links {
  display: block;
  text-transform: uppercase;
  color: #0e0b0b;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.news-list__links:hover {
  color: #5f688b;
}
/*сокрытие формы поиска по архиву новостей*/
.form_wrapper1 {
  display: none;
}
@media screen and (max-width: 864px) {
  .news-list {
    margin-right: 0;
    width: 100%;
  }
}
.news-one {
  width: 68%;
}
.news-one__date {
  font-weight: 500;
  color: #4b4b4b;
}
@media screen and (max-width: 864px) {
  .news-one {
    width: 100%;
  }
}
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 864px) {
  .column--reversed-sm {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.two-columns--grey {
  background-color: #EDEDED;
  padding: 32px 32px 14px 32px;
}
.two-columns > div {
  width: 48%;
  margin-bottom: 10px;
}
@media screen and (max-width: 1110px) {
  .two-columns > div {
    width: 98%;
    margin-bottom: 10px;
  }
}
.grey-button {
  width: 100%;
  background-color: #5f688b;
  text-align: left;
  text-transform: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
  padding-right: 5px;
  border-bottom: 1px solid #ffffff;
  height: auto;
  margin-bottom: 3px;
}
.grey-button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 20px;
}
.grey-button::after {
  content: "";
  height: 26px;
  width: 26px;
  background: transparent url("../img/arrow.svg") no-repeat center;
  margin-left: auto;
  -webkit-transform: rotate(90deg) scale(0.5);
          transform: rotate(90deg) scale(0.5);
}
.grey-button--active {
  background-color: #464e6a;
}
.grey-button--active::after {
  content: "";
  height: 26px;
  width: 26px;
  background: transparent url("../img/arrow.svg") no-repeat center;
  margin-left: auto;
  -webkit-transform: rotate(-90deg) scale(0.5);
          transform: rotate(-90deg) scale(0.5);
}
.grey-button__block {
  padding: 20px;
  background-color: #f9fcff;
}
@media screen and (max-width: 800px) {
  .grey-button__block {
    padding: 10px;
    background-color: #f9fcff;
  }
}
.toggler {
  width: 100%;
  padding: 16px 20px;
  border: 3px solid #5f688b;
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toggler + div {
  display: none;
  padding: 12px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.toggler::after {
  content: "\002B";
  padding-left: 10px;
  color: #464e6a;
  font-size: 2.2rem;
  font-weight: bold;
  margin-left: auto;
}
.no-active::after {
  content: "\2212";
}
@media screen and (max-width: 400px) {
  .toggler {
    font-size: 1.4rem;
    padding: 10px 15px;
  }
}
.filter {
  display: grid;
  grid-template-columns: 80px 80px repeat(2, 190px) minmax(140px, auto) 120px;
  grid-gap: 10px;
  margin-bottom: 20px;
}
.filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.filter__label:last-of-type {
  margin-right: 1.6%;
}
.filter__input {
  display: none;
}
.filter__label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(70, 78, 106, 0.2);
  margin-right: 5px;
}
.filter__input:checked + .filter__label::before {
  content: "";
  background: #464E6A url("../img/check.svg") no-repeat center;
  border: 1px solid rgba(70, 78, 106, 0.2);
}
.filter__checkselect:nth-of-type(2n) {
  margin-left: 1.6%;
}
.filter button:nth-last-child(2) {
  margin-left: auto;
}
.filter button:last-child {
  margin-left: 2.5%;
}
@media screen and (max-width: 910px) {
  .filter {
    font-size: 1.2rem;
    line-height: 1.6rem;
    grid-template-columns: 80px 80px minmax(20px, auto) 190px 190px;
  }
  .filter__checkselect:first-of-type {
    grid-column-start: 4;
  }
  .filter button:nth-last-child(2) {
    grid-column-start: 4;
  }
  .filter button:last-child {
    margin-left: auto;
  }
}
@media screen and (max-width: 600px) {
  .filter {
    grid-template-columns: minmax(175px, auto) minmax(175px, auto);
  }
  .filter__checkselect:first-of-type {
    grid-column-start: 1;
  }
  .filter button:nth-last-child(2) {
    grid-column-start: 1;
  }
  .filter button:last-child {
    margin-right: auto;
    margin-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .filter {
    grid-template-columns: minmax(165px, auto) minmax(80px, auto);
    grid-gap: 10px;
  }
  .filter__checkselect:nth-of-type(2) {
    grid-column-start: 1;
  }
  .filter button:nth-last-child(2) {
    margin-left: 0;
  }
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row > img {
  margin-right: 20px;
}
@media screen and (max-width: 520px) {
  .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.checkselect {
  position: relative;
  display: inline-block;
  min-width: 185px;
  text-align: left;
}
.checkselect-control {
  position: relative;
  padding: 0;
}
.checkselect-control select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-left: 5px;
  height: 40px;
}
.checkselect-control:hover + .checkselect-popup,
.checkselect:hover .checkselect-popup {
  display: block;
}
.checkselect-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.checkselect-popup {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  height: auto;
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #dadada;
  border-top: none;
  background: #ffffff;
  z-index: 9999;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkselect__label {
  margin-bottom: 6px;
  margin-right: 0;
}
.checkselect__label:last-child {
  margin-bottom: 0;
}
/*

.checkselect-popup fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.checkselect-popup fieldset input {
  left: 15px;
}

.checkselect-popup fieldset label {
  padding-left: 32px;
}

.checkselect-popup legend {
  display: block;
  margin: 0;
  padding: 5px 8px;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.1;
}
*/
@media screen and (max-width: 600px) {
  .checkselect {
    min-width: 175px;
  }
}
@media screen and (max-width: 420px) {
  .checkselect {
    min-width: 165px;
  }
}
.table {
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-shadow: 5px 0 8px rgba(0, 0, 0, 0.07);
          box-shadow: 5px 0 8px rgba(0, 0, 0, 0.07);
  /*подсветка разных факультетов*/
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 7px;
  vertical-align: middle;
  border-top: 1px solid #464e6a6b;
}
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 7px 4px;
  vertical-align: middle;
  border-top: 1px solid #464e6a6b;
}
.table--bordered {
  border: 1px solid #464e6a6b;
}
.table--bordered > tbody > tr > td,
.table--bordered > tbody > tr > th,
.table--bordered > tfoot > tr > td,
.table--bordered > tfoot > tr > th,
.table--bordered > thead > tr > td,
.table--bordered > thead > tr > th {
  border: 1px solid #464e6a6b;
  border-top-color: #464e6a6b;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  text-align: center;
}
.table__column-day--budget,
.table__column-day--paid,
.table__column-zaoch--budget,
.table__column-zaoch--paid,
.table__column-shortday--budget,
.table__column-shortday--paid,
.table__column-shortzaoch--budget,
.table__column-shortzaoch--paid,
.table__column-distant--paid {
  font-weight: bold;
}
.table__column-distant {
  word-break: break-word;
  width: 74px;
  min-width: 74px;
}
.table__column-day--empty {
  display: none;
  border: none !important;
}
.table__sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.table__sort-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2px;
}
.table__sort-icon {
  display: block;
  cursor: pointer;
  padding: 0 3px;
  line-height: 1;
}
.table__sort-icon:hover {
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}
.table__sort-icon svg {
  width: 10px;
  height: 10px;
  fill: #464e6a6b;
}
.table__sort-icon--active svg {
  fill: #464e6a;
}
.table .table__column-blocks {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table .table__block-cell {
  padding: 7px;
  border: 1px solid #464e6a6b;
  border-top-color: #464e6a6b;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  text-align: center;
  width: 180px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.table .table__special-cell {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table__row-fkp {
  background-color: #f7fff5;
}
.table__row-fitu {
  background-color: #fffbf5;
}
.table__row-fre {
  background-color: #fdfff5;
}
.table__row-fksis {
  background-color: #f5fff9;
}
.table__row-fik {
  background-color: #f5ffff;
}
.table__row-ief {
  background-color: #f5f9ff;
}
.table__row-vf {
  background-color: #f5fffa;
}
.table__row-iit {
  background-color: #f9f5ff;
}
.table > tbody > tr > td.table__column-spec {
  text-align: left;
}
.table__column-blocks {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table__block-cell {
  padding: 7px;
  border: 1px solid #464e6a6b;
  border-top-color: #464e6a6b;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  text-align: center;
  width: 180px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.table__special-cell {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1000px) {
  .table {
    width: 100%;
  }
  .table__column-spec {
    display: none;
  }
  .table > thead .table__column-spec {
    height: 122px;
  }
  .table__column-day--empty {
    display: table-cell;
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    padding: 7px;
  }
  .table__column-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scroll {
    overflow: auto;
  }
  .table-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scroll table tr {
    height: 61px;
  }
}
@media screen and (max-width: 768px) {
  .table {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.nomain-content {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 24px 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.nomain-content ul {
  margin-left: 15px;
}
.nomain-content li::marker {
  color: #464e6a;
}
@media screen and (max-width: 768px) {
  .nomain-content {
    padding: 15px 12px;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
.breadcrumbs img {
  width: 21px;
  border: #ffffff 1px solid;
  padding-bottom: 2px;
}
.breadcrumbs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-right: 10px;
  text-decoration: none;
  color: #4d4d4d;
}
.breadcrumbs a::after {
  content: "";
  height: 10px;
  width: 5px;
  background: url("../img/grey_arrow.svg") right top repeat-y transparent;
  padding-right: 10px;
  background-size: contain;
}
.breadcrumbs a:hover {
  text-decoration: underline;
  color: #464e6a;
}
.breadcrumbs a:hover img {
  border-bottom: #4d4d4d 1px solid;
}
.breadcrumbs a:focus {
  outline: 0;
}
.breadcrumbs span {
  font-size: 1.4rem;
  color: #464e6a;
}
@media screen and (max-width: 767px) {
  .breadcrumbs {
    margin-bottom: 20px;
  }
  .breadcrumbs a,
  .breadcrumbs span {
    font-size: 1.2rem;
  }
}
.nomain-content table > table {
  margin-top: 0 !important;
}
.nomain-content table > div {
  display: none !important;
}
.er {
  padding-bottom: 5px;
}
.popup__body {
  width: 389px;
  max-height: 870px;
  overflow-y: auto;
  background: #f9fcff;
  position: relative;
  z-index: 9999;
}
@media screen and (max-width: 1300px) {
  .popup__body {
    max-height: 580px;
  }
}
.popup__content--bg {
  background: #464e6a;
}
.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px 27px 21px 27px;
}
.popup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 193px;
}
@media screen and (max-width: 1239px) {
  .popup__btn {
    width: 170px;
  }
}
.popup__btn-img {
  margin-right: 24px;
}
.popup__list {
  margin-top: 28px;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}
.popup__list--untop {
  margin-top: 0;
}
.popup__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.popup__list-item:last-child {
  margin-bottom: 0;
}
.popup__link {
  text-decoration: none;
  color: #0e0b0b;
}
.popup__link:hover {
  color: #96b2ed;
}
.popup__link--wite {
  color: #f9fcff;
}
.popup__link--footer {
  text-decoration: underline;
}
.popup__link-img {
  margin-right: 16px;
  width: 38px;
  height: 38px;
}
.popup__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
}
.popup__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  line-height: 2.1rem;
  width: 90%;
}
.popup__contacts {
  margin-bottom: 12px;
  color: #ffffff;
}
.popup__contacts--unmargin {
  margin-bottom: 0;
}
.popup__acc {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 14px;
}
.popup__close:hover {
  cursor: pointer;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(14, 11, 11, 0.6);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f9fcff;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
