.menu_item {
  margin-left: 24px;
  text-transform: none;
  margin-bottom: 2px;

  &:hover {
    color: @menu_act;
  }
}

@media screen and (max-width: 767px) {
  .menu_item {
    font-size: @f16;
    line-height: @fl16;
  }
}
