.filter {
  display: grid;
  grid-template-columns: 80px 80px repeat(2, 190px) minmax(140px, auto) 120px;
  grid-gap: 10px;
  margin-bottom: 20px;

  &--programmist {
    grid-template-columns: 190px 140px  120px 1fr;
  }

  &--paid-fac {
    grid-template-columns: 80px 80px 190px 140px 120px 1fr;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__label:last-of-type {
    margin-right: 1.6%;
  }

  &__input {
    display: none;
  }

  &__label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid rgba(70, 78, 106, 0.2);
    margin-right: 5px;
  }

  &__input:checked + &__label::before {
    content: "";
    background: @news-date url("../img/check.svg") no-repeat center;
    border: 1px solid rgba(70, 78, 106, 0.2);
  }

  &__checkselect:nth-of-type(2n) {
    margin-left: 1.6%;
  }

  & button:nth-last-child(2) {
    margin-left: auto;
  }

  & button:last-child {
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 910px) {
  .filter {
    font-size: @f12;
    line-height: @fl12;
    grid-template-columns: 80px 80px minmax(20px, auto) 190px 190px;

    &--paid-fac {
      grid-template-columns: 80px 80px 190px minmax(20px, auto) 120px 120px;
    }

    &--programmist {
      grid-template-columns: 190px 140px  120px 1fr;
    }

    &__checkselect:first-of-type {
      grid-column-start: 4;
    }

    & button:nth-last-child(2) {
      grid-column-start: 4;
    }

    & button:last-child {
      margin-left: auto;
    }
  }

  .filter--paid-fac .filter__checkselect {
    grid-column-start: 3;
  }

  .filter--paid-fac button:nth-last-child(2) {
    grid-column-start: 5;
  }

  .filter--programmist .filter__checkselect:first-of-type {
    grid-column-start: 1;
  }

  .filter--programmist button:nth-last-child(2) {
    grid-column-start: 2;
  }
}

@media screen and (max-width: 630px) {
  .filter {

    &--programmist {
      grid-template-columns: 190px 130px minmax(130px, auto);
    }
  }
}

@media screen and (max-width: 674px) {
  .filter {
    &--paid-fac {
      grid-template-columns: 80px minmax(80px, auto) 190px;
      grid-template-rows: 1fr 1fr;
    }
  }

  .filter--paid-fac button:nth-last-child(2) {
    grid-column-start: 2;
  }
}

@media screen and (max-width: 600px) {
  .filter {
    grid-template-columns: minmax(175px, auto) minmax(175px, auto);

    &--paid-fac {
      grid-template-columns: 80px minmax(80px, auto) 190px;
      grid-template-rows: 1fr 1fr;
    }

    &__checkselect:first-of-type {
      grid-column-start: 1;
    }

    & button:nth-last-child(2) {
      grid-column-start: 1;
    }

    & button:last-child {
      margin-right: auto;
      margin-left: 0;
    }
  }

  .filter--paid-fac button:nth-last-child(2) {
    grid-column-start: 2;
  }

  .filter--paid-fac .filter__checkselect:first-of-type {
    grid-column-start: 3;
  }

  .filter--paid-fac button:last-child {
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 420px) {
  .filter {
    grid-template-columns: minmax(165px, auto) minmax(80px, auto);
    grid-gap: 10px;

    &__checkselect:nth-of-type(2) {
      grid-column-start: 1;
    }

    & button:nth-last-child(2) {
      margin-left: 0;
    }

    &--paid-fac {
      grid-template-columns: 120px minmax(120px, auto);
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .filter--paid-fac .filter__checkselect:first-of-type {
    grid-column-start: 1;
  }

  .filter--paid-fac button:nth-last-child(2) {
    grid-column-start: 1;
  }
}
