.menu__wrapper {
  padding: 24px;
  color: @icon2;
  border-radius: 0px 0px 2px 2px;
  background: @icon;
  // width: 676px;
  // height: 265px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
